In [47]:

pip install xgboost

Collecting xgboost
  Downloading https://files.pythonhosted.org/packages/5e/49/b95c037b717b4ceadc76b6e164603471225c27052d1611d5a2e832757945/xgboost-0.90-py2.py3-none-win_amd64.whl (18.3MB)
Requirement already satisfied: scipy in c:\users\hp\anaconda3\lib\site-packages (from xgboost) (1.3.1)
Requirement already satisfied: numpy in c:\users\hp\anaconda3\lib\site-packages (from xgboost) (1.16.5)
Installing collected packages: xgboost
Successfully installed xgboost-0.90
Note: you may need to restart the kernel to use updated packages.

In [4]:
import pandas as pd
import pymysql
import numpy as np

In [5]:
database = pymysql.connect("18.136.56.185",'dm_team','dm_team123#','')

In [6]:
cursor = database.cursor()

In [7]:
cursor.execute("show databases")

2

In [8]:
dbnames = cursor.fetchall()

In [9]:
dbnames

(('information_schema',), ('project_itsm',))

In [10]:
cursor.execute('use project_itsm')

0

In [11]:
cursor.execute('show tables')

1

In [12]:
dat = cursor.fetchall()

In [13]:
dat

(('dataset_list',),)

In [14]:
cursor.execute('select * from dataset_list')

46606

In [15]:
data = cursor.fetchall()

In [16]:
df_backup = pd.DataFrame(list(data))

In [17]:
df = df_backup

In [18]:
df.shape

(46606, 25)

In [19]:
df.columns = ['CI_Name', 'CI_Cat', 'CI_Subcat', 'WBS', 'Incident_ID', 'Status', 'Impact', 'Urgency', 'Priority', 'number_count', 'Category', 'KB_number', 'Alert_Status', 'No_of_Reassignments', 'Open_Time', 'Reopen_Time', 'Resolved_Time', 'Close_Time', 'Handle_Time_hrs', 'Closure_Code', 'No_of_Related_Interactions', 'Related_Interaction','No_of_Related_Incidents','No_of_Related_Changes','Related_Change']

In [20]:
df.head()

,CI_Name,CI_Cat,CI_Subcat,WBS,Incident_ID,Status,Impact,Urgency,Priority,number_count,...,Reopen_Time,Resolved_Time,Close_Time,Handle_Time_hrs,Closure_Code,No_of_Related_Interactions,Related_Interaction,No_of_Related_Incidents,No_of_Related_Changes,Related_Change
0,SUB000508,subapplication,Web Based Application,WBS000162,IM0000004,Closed,4,4,4,0.601292279,...,,04-11-2013 13:50,04-11-2013 13:51,"3,87,16,91,111",Other,1,SD0000007,2,,
1,WBA000124,application,Web Based Application,WBS000088,IM0000005,Closed,3,3,3,0.415049969,...,02-12-2013 12:31,02-12-2013 12:36,02-12-2013 12:36,"4,35,47,86,389",Software,1,SD0000011,1,,
2,DTA000024,application,Desktop Application,WBS000092,IM0000006,Closed,NS,3,NA,0.517551335,...,,13-01-2014 15:12,13-01-2014 15:13,"4,84,31,19,444",No error - works as designed,1,SD0000017,,,
3,WBA000124,application,Web Based Application,WBS000088,IM0000011,Closed,4,4,4,0.642927218,...,,14-11-2013 09:31,14-11-2013 09:31,"4,32,18,33,333",Operator error,1,SD0000025,,,
4,WBA000124,application,Web Based Application,WBS000088,IM0000012,Closed,4,4,4,0.345258343,...,,08-11-2013 13:55,08-11-2013 13:55,"3,38,39,03,333",Other,1,SD0000029,,,

In [21]:
df.describe()

,CI_Name,CI_Cat,CI_Subcat,WBS,Incident_ID,Status,Impact,Urgency,Priority,number_count,...,Reopen_Time,Resolved_Time,Close_Time,Handle_Time_hrs,Closure_Code,No_of_Related_Interactions,Related_Interaction,No_of_Related_Incidents,No_of_Related_Changes,Related_Change
count,46606,46606,46606,46606,46606,46606,46606,46606,46606,46606,...,46606,46606,46606,46606,46606,46606,46606,46606,46606,46606
unique,3019,13,65,274,46606,2,6,6,6,46606,...,2245,33628,34528,30639,15,50,43060,25,5,233
top,SUB000456,application,Server Based Application,WBS000073,IM0019394,Closed,4,4,4,0.71950861,...,,,02-10-2013 15:20,0,Other,1,#MULTIVALUE,,,
freq,3050,32900,18811,13342,1,46597,22556,22588,22717,1,...,44322,1780,21,236,16470,43058,3434,45384,46046,46046

In [22]:
df.replace('',np.nan,inplace=True)

In [23]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 46606 entries, 0 to 46605
Data columns (total 25 columns):
CI_Name                       46606 non-null object
CI_Cat                        46495 non-null object
CI_Subcat                     46495 non-null object
WBS                           46606 non-null object
Incident_ID                   46606 non-null object
Status                        46606 non-null object
Impact                        46606 non-null object
Urgency                       46606 non-null object
Priority                      46606 non-null object
number_count                  46606 non-null object
Category                      46606 non-null object
KB_number                     46606 non-null object
Alert_Status                  46606 non-null object
No_of_Reassignments           46605 non-null object
Open_Time                     46606 non-null object
Reopen_Time                   2284 non-null object
Resolved_Time                 44826 non-null object
Close_Time                    46606 non-null object
Handle_Time_hrs               46605 non-null object
Closure_Code                  46146 non-null object
No_of_Related_Interactions    46492 non-null object
Related_Interaction           46606 non-null object
No_of_Related_Incidents       1222 non-null object
No_of_Related_Changes         560 non-null object
Related_Change                560 non-null object
dtypes: object(25)
memory usage: 8.9+ MB

In [24]:
df['CI_Cat']

0        subapplication
1           application
2           application
3           application
4           application
              ...
46601       application
46602       application
46603          computer
46604       application
46605          hardware
Name: CI_Cat, Length: 46606, dtype: object

In [25]:
from collections import Counter
Counter(df.CI_Cat)

Counter({'subapplication': 7782,
         'application': 32900,
         'computer': 3643,
         nan: 111,
         'displaydevice': 212,
         'software': 333,
         'storage': 703,
         'database': 214,
         'hardware': 442,
         'officeelectronics': 152,
         'networkcomponents': 107,
         'applicationcomponent': 5,
         'Phone': 2})

In [26]:
df['CI_Cat'].replace(['database'],'storage',inplace=True)
df['CI_Cat'].replace(['applicationcomponent'],'subapplication',inplace=True)
df['CI_Cat'].replace(['displaydevice','officeelectronics','Phone','networkcomponents'],'hardware',inplace=True)
df['CI_Cat'].replace(np.nan,'application',inplace=True)

In [27]:
Counter(df.CI_Subcat)

Counter({'Web Based Application': 15311,
         'Desktop Application': 3876,
         'Server Based Application': 18811,
         'SAP': 1199,
         'Client Based Application': 492,
         'Citrix': 767,
         'Standard Application': 85,
         'Windows Server': 153,
         'Laptop': 1921,
         'Linux Server': 55,
         nan: 111,
         'Monitor': 212,
         'Automation Software': 55,
         'SAN': 549,
         'Banking Device': 916,
         'Desktop': 423,
         'Database': 211,
         'Oracle Server': 3,
         'Keyboard': 27,
         'Printer': 88,
         'Exchange': 130,
         'System Software': 272,
         'VDI': 9,
         'Encryption': 45,
         'Omgeving': 86,
         'MigratieDummy': 60,
         'Scanner': 64,
         'Controller': 146,
         'DataCenterEquipment': 277,
         'KVM Switches': 32,
         'Switch': 28,
         'Database Software': 4,
         'Network Component': 32,
         'Unix Server': 7,
         'Lines': 15,
         'ESX Cluster': 11,
         'zOS Server': 4,
         'SharePoint Farm': 11,
         'NonStop Server': 14,
         'Application Server': 1,
         'Security Software': 1,
         'Thin Client': 6,
         'zOS Cluster': 17,
         'Router': 16,
         'VMWare': 1,
         'Net Device': 11,
         'Neoview Server': 1,
         'MQ Queue Manager': 4,
         'UPS': 1,
         'Number': 2,
         'Iptelephony': 1,
         'Windows Server in extern beheer': 1,
         'Modem': 3,
         'X86 Server': 10,
         'ESX Server': 2,
         'Virtual Tape Server': 1,
         'IPtelephony': 2,
         'NonStop Harddisk': 2,
         'Firewall': 2,
         'RAC Service': 1,
         'zOS Systeem': 2,
         'Instance': 2,
         'NonStop Storage': 1,
         'Protocol': 1,
         'Tape Library': 2})

In [28]:
df.CI_Subcat.replace('Desktop','Desktop Application',inplace=True)
df.CI_Subcat.replace(['Application Server','Virtual Tape Server','ESX Server','zOS Server','Neoview Server','X86 Server',
                       'Unix Server','Oracle Server','Windows Server in extern beheer','Thin Client','NonStop Server',
                       'Number','Windows Server','Linux Server',np.nan,'SharePoint Farm','Lines'],
                       'Server Based Application',inplace=True)
df.CI_Subcat.replace('RAC Service','Banking Device',inplace=True)
df.CI_Subcat.replace(['Iptelephony','Protocol','Net Device','IPtelephony','ESX Cluster','Standard Application'],
                       'Web Based Application',inplace=True)
df.CI_Subcat.replace(['VMWare','Security Software','zOS Systeem','Firewall','Database Software','VDI','Instance',
                       'MQ Queue Manager','Automation Software','Citrix','SAP','Encryption'],'System Software',inplace=True)
df.CI_Subcat.replace(['UPS','Omgeving'],'Client Based Application',inplace=True)
df.CI_Subcat.replace(['NonStop Storage','NonStop Harddisk','Tape Library','zOS Cluster','DataCenterEquipment',
                       'MigratieDummy'],'Database',inplace=True)
df.CI_Subcat.replace(['Modem','Router'],'Network Component',inplace=True)
df.CI_Subcat.replace('KVM Switches','Switch',inplace=True)
df.CI_Subcat.replace(np.nan,'application component',inplace=True)
df.CI_Subcat.replace(['Keyboard','Printer','Scanner'],'hardware',inplace=True)

In [29]:
df.No_of_Related_Interactions.replace(np.nan,1,inplace=True)
df.Priority.replace(np.nan,4,inplace=True)
df.No_of_Related_Incidents.replace(np.nan,0,inplace=True)
df.No_of_Related_Changes.replace(np.nan,0,inplace=True)

In [30]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 46606 entries, 0 to 46605
Data columns (total 25 columns):
CI_Name                       46606 non-null object
CI_Cat                        46606 non-null object
CI_Subcat                     46606 non-null object
WBS                           46606 non-null object
Incident_ID                   46606 non-null object
Status                        46606 non-null object
Impact                        46606 non-null object
Urgency                       46606 non-null object
Priority                      46606 non-null object
number_count                  46606 non-null object
Category                      46606 non-null object
KB_number                     46606 non-null object
Alert_Status                  46606 non-null object
No_of_Reassignments           46605 non-null object
Open_Time                     46606 non-null object
Reopen_Time                   2284 non-null object
Resolved_Time                 44826 non-null object
Close_Time                    46606 non-null object
Handle_Time_hrs               46605 non-null object
Closure_Code                  46146 non-null object
No_of_Related_Interactions    46606 non-null object
Related_Interaction           46606 non-null object
No_of_Related_Incidents       46606 non-null object
No_of_Related_Changes         46606 non-null object
Related_Change                560 non-null object
dtypes: object(25)
memory usage: 8.9+ MB

In [31]:
df['Category']

0                       incident
1                       incident
2        request for information
3                       incident
4                       incident
                  ...
46601                   incident
46602                   incident
46603                   incident
46604                   incident
46605                   incident
Name: Category, Length: 46606, dtype: object

# priorities

In [32]:
X = df.loc[:,['CI_Cat','CI_Subcat','WBS','Category']]
y = df.Priority

In [33]:
from sklearn.preprocessing import LabelEncoder

enc = LabelEncoder()
for i in (0,1,2,3):
    X.iloc[:,i] = enc.fit_transform(X.iloc[:,i])

In [34]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size = 0.3,random_state = 10)

In [35]:
from sklearn.preprocessing import StandardScaler

sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

In [36]:
X_train.shape

(32624, 4)

In [37]:
X_test.shape

(13982, 4)

# Models

# svm

In [38]:
import numpy as np
from sklearn import svm
from sklearn.model_selection import GridSearchCV

In [39]:
from sklearn.svm import SVC

In [40]:
from sklearn.metrics import classification_report,accuracy_score,confusion_matrix
model = SVC(kernel = 'rbf',C=1.0)
model.fit(X_train,y_train)
y_predict = model.predict(X_test)
print(accuracy_score(y_test,y_predict))
pd.crosstab(y_test, y_predict)

0.7300100128736947

col_0       2    3     4     5
Priority
1           0    0     1     0
2         137    9    55     9
3          36  539   909    97
4          67  207  6182   373
5          10   97  1480  3349
NA         11  145   253    16

kernel = ['linear','rbf']
gamma = ['auto','scale']
C = np.arange(0.1,52,10)
deg = np.arange(3,8)
coef0 = np.arange(0.01,10,0.5)

for i in kernel:
    for j in gamma:
        for k in C:
            for l in deg:
                for m in coef0:
                    model = SVC(kernel = i , gamma = j , C = k, degree = l, coef0 = m)
                    model.fit(X_train,y_train)

# RandomForestClassifier

In [41]:

from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score, classification_report, confusion_matrix

rf = RandomForestClassifier()
rf.fit(X_train,y_train)
y_predictrf = rf.predict(X_test)
print(pd.crosstab(y_test,y_predictrf))
print(accuracy_score(y_test,y_predictrf))

C:\Users\HP\Anaconda3\lib\site-packages\sklearn\ensemble\forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)

col_0       2     3     4     5  NA
Priority
1           0     0     1     0   0
2         143     7    43    17   0
3          42  1001   408   124   6
4          66   200  6191   370   2
5          12    49   907  3967   1
NA         12   267   118    27   1
0.8083965097983121

# Decision Tree

In [42]:
from sklearn.tree import DecisionTreeClassifier
dtree = DecisionTreeClassifier()
dtree.fit(X_train,y_train)
y_predictdtree = dtree.predict(X_test)
print(accuracy_score(y_test,y_predictdtree))
print(pd.crosstab(y_test,y_predictdtree))

0.8086825919038764
col_0       2     3     4     5
Priority
1           0     0     1     0
2         144     6    43    17
3          43  1010   407   121
4          68   203  6194   364
5          12    56   909  3959
NA         12   268   118    27

# k Neighbour classifier

In [43]:
from sklearn.neighbors import KNeighborsClassifier
knn = KNeighborsClassifier()
knn.fit(X_train,y_train)
y_predictknn = knn.predict(X_test)
print(accuracy_score(y_test,y_predictknn))
print(pd.crosstab(y_test,y_predictknn))

0.7991703618938636
col_0       2     3     4     5  NA
Priority
1           0     0     1     0   0
2         140    18    38    14   0
3          39  1029   409   104   0
4          64   298  6161   306   0
5          10   103   978  3844   1
NA         11   280   111    23   0

# XG boost classifier

In [48]:
from xgboost import XGBClassifier
xgb = XGBClassifier()
xgb.fit(X_train,y_train)
y_predictxgb = xgb.predict(X_test)
print(accuracy_score(y_test,y_predictxgb))
print(pd.crosstab(y_test,y_predictxgb))

0.7814332713488771
col_0       2    3     4     5
Priority
1           0    0     1     0
2         137    7    52    14
3          36  715   641   189
4          64  155  6186   424
5          10   29  1009  3888
NA         11  209   168    37

# artificial neural network

In [49]:
from sklearn.neural_network import MLPClassifier
ann = MLPClassifier()
ann.fit(X_train,y_train)
y_predictann = ann.predict(X_test)
print(accuracy_score(y_test,y_predictann))
print(pd.crosstab(y_test,y_predictann))

0.7497496781576313
col_0       2    3     4     5
Priority
1           0    0     1     0
2         137   10    49    14
3          36  668   750   127
4          67  226  6094   442
5          10   74  1268  3584
NA         11  185   213    16

C:\Users\HP\Anaconda3\lib\site-packages\sklearn\neural_network\multilayer_perceptron.py:566: ConvergenceWarning: Stochastic Optimizer: Maximum iterations (200) reached and the optimization hasn't converged yet.
  % self.max_iter, ConvergenceWarning)



# forecast the incident volume

In [50]:
inc_time = df.loc[:,['Incident_ID','Open_Time']]

In [51]:
inc_time.head()

  Incident_ID         Open_Time
0   IM0000004  05-02-2012 13:32
1   IM0000005  12-03-2012 15:44
2   IM0000006  29-03-2012 12:36
3   IM0000011  17-07-2012 11:49
4   IM0000012  10-08-2012 11:01

In [52]:
# df['Open_Time'] = pd.to_datetime(df['Open_Time']).dt.date
df['Open_Time'] = pd.to_datetime(df['Open_Time'], format='%d-%m-%Y %H:%M').dt.date

In [53]:
inc_time['No_Incidents'] = inc_time.groupby('Open_Time')['Incident_ID'].transform('count')

In [54]:
df['Open_Time']

0        2012-02-05
1        2012-03-12
2        2012-03-29
3        2012-07-17
4        2012-08-10
            ...
46601    2014-03-31
46602    2014-03-31
46603    2014-03-31
46604    2014-03-31
46605    2014-03-31
Name: Open_Time, Length: 46606, dtype: object

In [55]:
df['Open_Time'] = pd.to_datetime(df['Open_Time'])

In [56]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 46606 entries, 0 to 46605
Data columns (total 25 columns):
CI_Name                       46606 non-null object
CI_Cat                        46606 non-null object
CI_Subcat                     46606 non-null object
WBS                           46606 non-null object
Incident_ID                   46606 non-null object
Status                        46606 non-null object
Impact                        46606 non-null object
Urgency                       46606 non-null object
Priority                      46606 non-null object
number_count                  46606 non-null object
Category                      46606 non-null object
KB_number                     46606 non-null object
Alert_Status                  46606 non-null object
No_of_Reassignments           46605 non-null object
Open_Time                     46606 non-null datetime64[ns]
Reopen_Time                   2284 non-null object
Resolved_Time                 44826 non-null object
Close_Time                    46606 non-null object
Handle_Time_hrs               46605 non-null object
Closure_Code                  46146 non-null object
No_of_Related_Interactions    46606 non-null object
Related_Interaction           46606 non-null object
No_of_Related_Incidents       46606 non-null object
No_of_Related_Changes         46606 non-null object
Related_Change                560 non-null object
dtypes: datetime64[ns](1), object(24)
memory usage: 8.9+ MB

In [57]:
boo = pd.isnull(df['No_of_Reassignments'])
df[boo]

,CI_Name,CI_Cat,CI_Subcat,WBS,Incident_ID,Status,Impact,Urgency,Priority,number_count,...,Reopen_Time,Resolved_Time,Close_Time,Handle_Time_hrs,Closure_Code,No_of_Related_Interactions,Related_Interaction,No_of_Related_Incidents,No_of_Related_Changes,Related_Change
24520,SBA000759,application,Server Based Application,WBS000296,IM0024778,Closed,5,5,5,0.900155316,...,NaN,07-01-2014 14:46,07-01-2014 14:46,NaN,Software,1,SD0073944,0,0,NaN

In [58]:
import datetime as dt

In [59]:
inc_time.drop(['Incident_ID'],axis=1,inplace=True)
inc_time.drop_duplicates(inplace=True)

In [60]:

inc_time = inc_time.set_index('Open_Time')
# inc_time.index = pd.to_datetime(inc_time.index)
# inc_time.index

In [61]:
print(inc_time.index.min(),'to',inc_time.index.max())

01-02-2014 11:48 to 31-12-2013 16:49

In [62]:
df['No_Incidents']

KeyError: 'No_Incidents'

In [ ]:
data1 = inc_time['No_Incidents']
data1 = data1.asfreq('D')
data1.index

In [ ]:
df.info()

In [ ]:
data1.head()

In [ ]:

import matplotlib.pyplot as plt
data1.plot(figsize=(15,6))
plt.show()

In [ ]:
inc_time_above_2013 = inc_time[inc_time.index > dt.date(2013,10,1)]
inc_time_above_2013.head()

In [ ]:


data2 = inc_time_above_2013['No_Incidents']
data2 = data2.asfreq('D')
data2.index

In [ ]:
# Plotting number of tickets per day after October 2013
data2.plot(figsize=(15,6))
plt.show()

In [ ]:
x = y = z = range(0,2)
pdq = list(itertools.product(x,y,z))

for param in pdq:
    mod = sm.tsa.statespace.SARIMAX(data2,order=param,enforce_stationarity=False,enforce_invertibility=False)
    results = mod.fit()
    print('ARIMA{} - AIC:{}'.format(param, results.aic))

In [ ]:
pred = results.get_prediction(start=pd.to_datetime('2014-3-3'),end=pd.to_datetime('2014-10-30'),dynamic=False)
pred_ci = pred.conf_int()
pred.predicted_mean.round()